<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
       
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>   
                <div class="submenu">
                    <a href="/admin/dashboard">View Dashboard</a>
                </div>
            </li>
           
            <li class="menu-item has-submenu ">
                <a class="menu-link" href="/admin/displayProduct"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/displayProduct">Product List</a>
                    <a href="/admin/category">Categories</a>
                </div>
            </li>
         
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <a href="/admin/users">User List</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="/admin/orderList">Order list</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-apps"></i>
                    <span class="text">Banner</span>
                </a>
                <div class="submenu">
                    <a href="/admin/bannerList">Banner list</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Coupon</span>
                </a>   
                <div class="submenu">
                    <a href="/admin/couponList">Coupon list</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Sales Report</span>
                </a>   
                <div class="submenu">
                    <a href="/admin/salesReport">Sales Report</a>
                </div>
            </li>
          
       
        </ul>
        <hr>
       
        <br>
        <br>
    </nav>
</aside>

<header class="main-header navbar">
    <div class="col-search">
     
    </div>
    <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
        <ul class="nav">
            
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
        
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Admin</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>