body {
    font-family: Oswald, sans-serif;
}

.container {
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;

    color: black;
}

.input-field {
    margin-bottom: 10px;
}

.input-field input {
    width: 80%; /* Adjust the width as desired */
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-field button {
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.input-field button:hover {
    background-color: #23527c;
}