<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>SAYYENSEMBLE</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="../user-assets/css/linearicons.css">
	<link rel="stylesheet" href="../user-assets/css/owl.carousel.css">
	<link rel="stylesheet" href="../user-assets/css/themify-icons.css">
	<link rel="stylesheet" href="../user-assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../user-assets/css/nice-select.css">
	<link rel="stylesheet" href="../user-assets/css/nouislider.min.css">
	<link rel="stylesheet" href="../user-assets/css/bootstrap.css">
	<link rel="stylesheet" href="../user-assets/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
    <%- include('../layouts/header.ejs') %>	

	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
				<div class="col-lg-12">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" action="" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="email" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
						
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<a href="/forgotPassword">Forgot Password?</a>
							</div>
						</form>
            <%=(typeof message!=='undefined')?message:""%>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	<%- include('../layouts/footer.ejs') %>	

	<!-- End footer Area -->


	<script src="../user-assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="../user-assets/js/vendor/bootstrap.min.js"></script>
	<script src="../user-assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="../user-assets/js/jquery.nice-select.min.js"></script>
	<script src="../user-assets/js/jquery.sticky.js"></script>
	<script src="../user-assets/js/nouislider.min.js"></script>
	<script src="../user-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../user-assets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../user-assets/js/gmaps.min.js"></script>
	<script src="../user-assets/js/main.js"></script>
	<script>
		// Show alert when the page loads
		window.onload = function() {
			alert("Demo email: ajith@gmail.com and password: Ajith@123 for testing purpose");
		};
	</script>
</body>

</html>